{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mon Site Web</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-md-9">    
                <h1 class="text-primary" style="margin-bottom:22px;" href="#">IZIFIND</h1>
                <a class="btn bg-success" href="{% url 'login' %}">Login</a>
                <a class="btn bg-success" href="{% url 'register' %}">Sign-in</a>
                <a class="btn bg-success" href="{% url 'password_change' %}">Modify</a>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 20px;">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'bootstrap.bundle.js' %}" type="text/javascript"></script>
</body>
</html>
