{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changement de mot de passe</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-9 col-lg-6">
                <form class="form" method="POST" action="{% url 'rest_password_change' %}">
                    {% csrf_token %}
                    <h2 class="text-primary">CHANGE PASSWORD</h2>

                    <label class="form-label" for="old_password">Old Password</label>
                    <input class="form-control" type="password" id="old_password" name="old_password" required>

                    <label class="form-label" for="new_password1">New Password</label>
                    <input class="form-control" type="password" id="new_password1" name="new_password1" required>

                    <label class="form-label" for="new_password2">Confirm New Password</label>
                    <input class="form-control" type="password" id="new_password2" name="new_password2" required>

                    <input class="btn btn-primary" style="margin:10px;" type="submit" value="Change Password">
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'bootstrap.bundle.js' %}" type="text/javascript"></script>
</body>
</html>
