{% load static %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} IZIFIND {% endblock %}</title>
    <link rel="icon" href="{% static 'image.jpeg' %}">
	<link rel="shortcut icon" href="{% static 'image.jpeg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
	<ul class="nav justify-content-center align-items-center">
			<li class="nav-item">
				<a class="nav-link fs-4 fw-bold" href="{% url 'home' %}">IZIFIND</a>
			</li>
	  	<li class="nav-item">
	    	<a class="nav-link fs-4" href="{% url 'page_register' %}">S'inscrire</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link fs-4" href="{% url 'page_login' %}">Se Connecter</a>
	  	</li>
	</ul>
	<hr class="border border-5 border-info" style="width:100%;">

	<style type="text/css">
    	html, body{
    		font-size: 16px;
    	}
    	.nav-link{
    		color: #0ac;
    	}
    	.nav-link:hover{
    		background-color: #0ac;
    		color: #fff;
    	}
    </style>

	<div class="row">
		{% block content %}
		{% endblock %}
	</div>

    <script type="text/javascript" src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>
</html>
