{% load static %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} IZIFIND {% endblock %}</title>
    <link rel="icon" href="{% static 'image.jpeg' %}">
	<link rel="shortcut icon" href="{% static 'image.jpeg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
</head>
<body>

	<header class="mt-2">
		<ul class="nav justify-content-center">
			<li class="nav-item mx-3">
				<a class="nav-link fs-4 btn btn-light text-black" style="" href="{% url 'home' %}">Accueil</a>
			</li>
		  	
		  	<li class="nav-item mx-3">
		    	<a class="nav-link fs-4 btn btn-primary text-white" style="" href="{% url 'page_register' %}">S'inscrire</a>
		  	</li>
		  	
		  	<li class="nav-item mx-3">
		    	<a class="nav-link fs-4 btn btn-success text-white" style="" href="{% url 'page_login' %}">Se Connecter</a>
		  	</li>
		</ul>
		<hr class="" style="border: solid #999 5px;">
	</header>

	<main>
	    <div class="container">
			<div class="row">
				{% block content %}
				{% endblock %}
			</div>
    	</div>
	</main>

	<footer class="container py-3 my-4">
    	<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-1 text-muted">Accueil</a></li>
			<li class="nav-item"><a href="{% url 'page_register' %}" class="nav-link px-1 text-muted">S'inscrire</a></li>
			<li class="nav-item"><a href="{% url 'page_login' %}" class="nav-link px-1 text-muted">Se Connecter</a></li>
    	</ul>
    	<p class="float-end">
    		<a href="#" class="text-decoration-none text-white">Retour en haut</a>
    	</p>
    	<p class="text-center">
    		&copy; 2023 Copyright, IZIFIND. Tous droits résevés.
    	</p> 
	</footer>

	<style type="text/css">
    	html, body{
    		margin: 0%;
    		padding: 0%;
    		font-size: 11px;
    	}

    	body {
		    background-image: url("{% static '11.jpg' %}");
		    background-attachment: fixed;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
    </style>

    <script type="text/javascript" src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>
</html>
