{% extends 'base.html' %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
				<h2 class="text-primary mt-3 mb-3">Password Reset</h2>
				<form method="post" action="{% url 'rest_password_reset' %}">
					{% csrf_token %}
					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" id="email" name="email" required>
					<button class="btn btn-success mt-3" type="submit">Reset</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}