{% extends 'base.html' %}
{% block content %}
    <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <h2 class="text-primary mt-3 mb-3">Réinitialisation du mot de passe</h2>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success mt-3" type="submit">Réinitialiser le mot de passe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
