{% extends 'base.html' %}

{% block title %}Page d'accueil {% endblock %}

{% load static %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
    <div class="col-xs-8 col-sm-8 col-md-6 col-lg-5 col-xl-5 col-xxl-4 text-center">
        <div class="alert alert-warning" role="alert" style="width: 500px; font-size: 30px;">
            Pour des raisons diverses et spécifiques, cette page est inaccessible pour l'instant. Nous vous présentons nos sincères excuses!
        </div>
    </div>
</div>
{% endblock %}
