{% extends 'base.html' %}

{% block title %}Page d'accueil {% endblock %}

{% load static %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="margin:10vh; height:70vh;">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 col-xxl-6">

        	<!--<div class="d-block" style="height:auto; min-height:25vh; background-color:yellow;">
        		Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quis tenetur voluptate nisi corporis, assumenda tempora similique, eum quia asperiores alias ut dolore natus reiciendis qui, recusandae, optio ipsa perspiciatis.ipoteis sum has quiet Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis quod eius, deserunt ab nemo a ullam voluptatem, quidem cupiditate, eveniet sed soluta, et quas quasi omnis tempora molestiae ex beatae.
        	</div>-->

            <div id="carouselExampleFade" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" style="max-width:100%;">

                    <div class="carousel-item active">
                        <p class="text-break col-9" style="font-size:3.4rem;"><strong>izifind :</strong> Votre outil de recherche intuitif pour un monde sans objets perdus.</p>
                    </div>
	    			<div class="carousel-item">
	      				<p class="text-break col-9" style="font-size:3.4rem;"><strong>izifind,</strong> là où la recherche devient un jeu d'enfant – retrouvez vos objets et vos proches en un clin d'œil.</p>
	    			</div>
	    			
	    			<div class="carousel-item">
						<p class="text-break col-9" style="font-size:3.4rem;">Explorez, trouvez, récupérez : <strong>izifind</strong> simplifie la recherche comme jamais auparavant.</p>
	    			</div>
	    			<div class="carousel-item">
						<p class="text-break col-9" style="font-size:3.4rem;"><strong>izifind :</strong> Parce que retrouver ce qui compte devrait être aussi simple que quelques clics.</p>
	    			</div>

	    			<div class="carousel-item">
						<p class="text-break col-9" style="font-size:3.4rem;"><strong>izifind,</strong> votre guide de recherche qui transforme l'impossible en possible.</p>
	    			</div>
	    			<div class="carousel-item">
						<p class="text-break col-9" style="font-size:3.4rem;"><strong>izifind :</strong> Votre complice dans la recherche de l'irremplaçable.</p>
	    			</div>

	    			<div class="carousel-item">
						<p class="text-break col-9" style="font-size:3.4rem;">Retrouver vos objets et vos proches n'a jamais été aussi simple – <strong>izifind</strong> vous montre le chemin.</p>
	    			</div>
	    			<div class="carousel-item">
						<p class="text-break col-9" style="font-size:3.4rem;"><strong>izifind :</strong> la quête devient une aventure, et la recherche se transforme en retrouvailles</p>
	    			</div>

                </div>

                <div class="d-flex justify-content-center mt-3">
	                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
	                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	                    <span class="visually-hidden">Previous</span>
	                </button>

	                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
	                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	                    <span class="visually-hidden">Next</span>
	                </button>
                </div>
            </div>

            <div class="container mt-3">
                <a href="{% url 'page_register' %}">
                    <button type="button" class="btn btn-primary btn-lg px-4">
                        S'inscrire
                    </button>
                </a>
                <a href="{% url 'page_login' %}">
                    <button type="button" class="btn btn-success btn-lg px-4">
                        Se Connecter
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="d-block text-white" style="height:auto; min-height:50vh; background-color:#444;">
	    <div class="col-12 p-4">
	        <h2 class="mb-4" style="font-size:3rem;">Comment ça marche ?</h2>

        	<ol>
        		<li class="text-decoration-underline fs-4" style="color:#f55">Inscrivez-vous</li>
        		<p class="col-md-6 col-12 mb-4" style="font-size: 1.5rem;">Vous pouvez le faire en cliquant sur n'importe quel bouton où c'est écrit <strong>"S'inscrire"</strong>. Après, il vous suffit de remplir le formulaire d'inscription en respectant les consignes.</p>

        		<li class="text-decoration-underline fs-4" style="color:#f55">Connectez-vous</li>
        		<p class="col-md-6 col-12 mb-4" style="font-size: 1.5rem;">Vous pouvez vous connecter en appuyant sur n'importe quel bouton ayant pour texte <strong>"Se Connecter"</strong>. Après cela, vous pouvez faire une délaration d'objet ou de proche perdu ou encore déclarer un objet ou une personne retouvé(e).</p>

        		<li class="text-decoration-underline fs-4" style="color:#f55">Déclaration d'un objet</li>
        		<p class="col-md-6 col-12 mb-4" style="font-size: 1.5rem;">Pour faire la déclaration d'un objet perdu ou d'un proche disparu, vous devez renseigner les informations exactes de la personne ou de l'objet car plus celles-ci sont justes, plus les chances de retrouver votre objet ou votre proche augmentent significativement. Auusi, il faut procéder de la même maière lors de la déclaration d'un proche ou d'un élément ayant été retouver.</p>
        	</ol>

	    </div>
    </div>

    <style type="text/css">
    </style>
{% endblock %}

