{% extends 'base.html' %}

{% load static %}

{% block title %}Page d'inscription{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-xs-8 col-sm-8 col-md-6 col-lg-5 col-xl-5 col-xxl-4">
                <div class="card">
                    <div class="card-header text-white" style="background-color:#0ac;">
                        <h2 class="mb-3">Inscription</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" placeholder="Votre email" class="form-control" id="email" name="email" required autocomplete="email">
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Mot de passe</label>
                                <input type="password" placeholder="Votre mot de passe" class="form-control" id="password" name="password" required>
                            </div>

                            <div class="mb-3">
                                <label for="first_name" class="form-label">Prénom</label>
                                <input type="text" placeholder="Votre prénom" class="form-control" id="first_name" name="first_name" required>
                            </div>

                            <div class="mb-3">
                                <label for="last_name" class="form-label">Nom de famille</label>
                                <input type="text" placeholder="Votre nom" class="form-control" id="last_name" name="last_name" required>
                            </div>

                            <button class="btn btn-success mt-3" type="submit">S'inscrire</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style type="text/css">
        button.btn.btn-success.mt-3{
            background-color:#0ac;
            font-size: 20px;
            border-style: none;
        }
    </style>
{% endblock %}
