{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-primary">
                    <div class="card-header bg-primary text-white">
                        <h2 class="mb-3">Réinitialisation du mot de passe</h2>
                    </div>
                    <div class="card-body">
                        {% if messages %}
                            <div class="alert alert-info">
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        <form method="post" action="{% url 'reset_password_confirm' uidb64=uidb64 token=token %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.new_password1.label_tag }}
                                {{ form.new_password1 }}
                            </div>
                            <div class="mb-3">
                                {{ form.new_password2.label_tag }}
                                {{ form.new_password2 }}
                            </div>

                            <button class="btn btn-primary btn-block mt-3" type="submit">Réinitialiser le mot de passe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
